// 🎨 Variables
$primary-color: #1d1d1d;
$secondary-color: #353535;
$main-title-color: #353535;
$button-color: #66b314;
$button-active-hover: rgba(102, 179, 20, 0.7);
$button-font-size: 16px;
$badge-bg: linear-gradient(90deg, #ede902 0%, #4caf50 100%);
$border-color: #353535;
$bg-color: rgb(255, 255, 255);
$language-border: #c6c6c6;
$cat-bg-color: #e5f5dd;
$text-color: #ffffff;
$border-radius: 40px;
$font-family: "Gilroy";

// 📐 Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2k: 1440px;
$breakpoint-4k: 2160px;

// quiz
$quiz-title-size: 30px;
$quiz-header-bg: rgb(192, 234, 150);
